# Data Science Group Project
### Group 51
Thuseevan Nareshkumar 46328785 <br>
Ryan Lam 45951292<br>
Md Fahad Rahman 45728836
### Name and Student number 
add you name here then remove this

# Introduction
 Transport Performance and Analytics (TPA) is a Center of Excellence that provides objective and trustworthy transportation data, recommendations, and analysis. TPA brings to offer an evidence foundation for strategic decision-making in support of an efficient transportation system. 
Gathering data from their archives, the following project is built puttiing emphasis on diifferent analysis of uses of transport throughout Sydney.

# Project Goal
**"How the dataset can be used in analysing different aspects of transportation?"**

By providing various analysis to  the question is our following goals:
- Explore with our chosen dataframe.
- Take advantage of the various sources to reach an optimal conclusion that will help with either decision making/support.
- Provide analysis that will enable us to correlate trends/patterns withreal world activities which will include:
  - Distinction between an array of transportation rush hours
  - In which month people travel more
  - Analysis through outliners

# Data source
The dataset is from the Bureau of Transport Statistics. This dataset contains NSW trains official train utilisation figures for Intercity train lines only. These figures include the data of passengers who on/tap off well as passeners who bought tickets when entering and exiting the transportation service stations. It is set out as a line and aggregated into a monthly figure for a passenger for their estimated times of travel during that month. 
The data was collected from opal train trips by month,line and card type, from July 2016 to August 2021. The format of the data set is in CSV. Here is a link to the relevant document page: https://opendata.transport.nsw.gov.au/dataset/opal-trips-train.

<b>Note<b>: There were limited amount of data provided for several months in the year 2016 and 2021.

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import matplotlib.pylab as plt
from matplotlib.pyplot import imread
%matplotlib inline

#---Linear Regression
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import r2_score

#---naive bayes
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB

#---KMeans Clustering 
from sklearn.cluster import KMeans

#---feature selection
from sklearn.datasets import make_classification
from sklearn.ensemble import ExtraTreesClassifier

#---data processing
from sklearn import preprocessing
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.model_selection import train_test_split

import warnings

In [ ]:
#We tried importing the file, but this method didnâ€™t work for some reason.
#pd.show_versions()
#data = pd.read_csv("files/TrainCardType.csv")
# we had error opeing the file

## Importing the dataset

In [ ]:
#We realised that there was an error with encoding the file. After resolving the the issue, we were able to import the file.
# importing the file
data = pd.read_csv("files/TrainCardType.csv", encoding='utf-16',sep="\t")

In [ ]:
#show data head
data.head(2)

## Cleaning the Data

In [ ]:
# renaming 
data = data.rename(columns={"1/07/2016+C1:BA1": "Jul-16"})
#data.head()

In [ ]:
# renaming 
data = data.rename(columns={"Travel type": "Travel_type"})
#data.head()

In [ ]:
#checking the data set size 
print("The size of the data is : ", data.shape) 
print("The number of row {} and number of columns {} ".format(data.shape[0], data.shape[1]))

In [ ]:
# checking data type 
print(type(data))
print(type(data['Jul-16']))
print(type(data['Jul-16'][0]))

In [ ]:
#show infor for data
#data.info()

In [ ]:
# Deal with the NaN values in the data
data.isna().sum()


<b>Note</b>: The data set have too many null values. Dropping the null value drops almost 70% of the data. We tried dropping the value but too many rows and coulmns were droped. As a result we had to work on the dataset as it was after thorough cleaning.

In [ ]:
#data =data.dropna()
#data.shape
#data.head(2)

# add more, why did we decide to replace null with 0

In [ ]:
#we decide to assign 0 to null values
data.fillna( '0', inplace = True)
#data.head(2)

<b>Functions to remove ','

In [ ]:
data = data.replace(',','', regex=True)

<b>Changing all object into numeric values

In [ ]:
for x in data.columns[2:]:
    data[x] = pd.to_numeric(data[x])

In [ ]:
#str to int / checking
type(data['Jul-16'][0])

## Droping last column which will directly affect the our analysis.

In [ ]:
# drop the last row Grand Total
data_c =data.drop(247)
data_c.tail(2)

## Observations

In [ ]:
data_c.Route.value_counts()

In [ ]:
# extract all name of the Route
data_c['Route'].unique()

<b>There are 21 differnt train routes

In [ ]:
data_c['Travel_type'].unique()

In [ ]:
data_c.describe()

##  Spliting  the data set according to years

In [ ]:
data_2016 = []
data_2017 = []
data_2018 = []
data_2019 =[]
data_2020=[]
data_2021=[]
for i in range(2,8):
    data_2016.append(data_c.columns[i])
for i in range(8,20):
    data_2017.append(data_c.columns[i])
for i in range(20,32):
    data_2018.append(data_c.columns[i])
for i in range(32,44):
    data_2019.append(data_c.columns[i])
for i in range(44,56):
    data_2020.append(data_c.columns[i])
for i in range(56,65):
    data_2021.append(data_c.columns[i])

In [ ]:
#checking 
data_2018

In [ ]:
data_16 = data_c[data_2016]
data_17 = data_c[data_2017]
data_18 = data_c[data_2018]
data_19 = data_c[data_2019]
data_20 = data_c[data_2020]
data_21 = data_c[data_2021]

In [ ]:
#total people travelled 
total16 = (data_16.sum()).sum()
total17 = (data_17.sum()).sum()
total18 = (data_18.sum()).sum()
total19 = (data_19.sum()).sum()
total20 = (data_20.sum()).sum()
total21 = (data_21.sum()).sum()

### 2016 July to December

In [ ]:
data_16.sum().plot()
plt.xlabel('Month')
plt.ylabel('Number of People Travavelled(M)')

<b>Observation</b>: It can be observed here that the number of travellers increased rapidly from July to August in the year of 2016. It started to decrease drasticaly from the mid of August to mid of october. However the numbers started to increase a bit up to November and started to dicline again until december.

### 2017 Jan to December

In [ ]:
data_17.sum().plot()
plt.xlabel('Month')
plt.ylabel('Number of People Travavelled(M)')

<b>Observation:</b> Passengers started to ride the train in major numbers from march of 2018. The number decreased rapidly to the month of April. However the number of passengers increased more in june and immediatly decreased up to August. And carried on the same curve througout rest of the life.

### 2018 Jan to December

In [ ]:
data_18.sum().plot()
plt.xlabel('Month')
plt.ylabel('Number of People Travavelled(M)')

<b>Observation:</b> In the year 2018 the graph indicates a chevroned pattern where the number of passengers where more in the month of May. Travellers were seen less in April compared to other reduced months.

### 2019 Jan to December

In [ ]:
data_19.sum().plot()
plt.xlabel('Month')
plt.ylabel('Number of People Travavelled(M)')

<b>Observation:</b> As per other years the graphs indicated the same amount of travellers travelling in February,May,August and october. However the amount of travellers decreased from July to rest of the year compared to first six months.

### 2020 Jan to December

In [ ]:
data_20.sum().plot()
plt.xlabel('Month')
plt.ylabel('Number of People Travavelled(M)')

<b>Observation:</b> The year 2020 was different in regards to orevious years.It is seen the numbers were at it peak from the start of the year until March. But it decreased repidly in April and started to incline from May. It slowly increased up tp 1.7 at the end of year.

### 2021 Jan to Sep

In [ ]:
data_21.sum().plot()
plt.xlabel('Month')
plt.ylabel('Number of People Travavelled(M)')

# Hanando's work more here please add comments

In [ ]:
#Total People Travel Over Years

In [ ]:
total = [total16,total17,total18,total19,total20,total21]
years = ['2016','2017','2018','2019','2020','2021']
color = ['r','g','b','m','y', 'b']
plt.pie(total, labels = years, colors = color, shadow = True, startangle = 90)
plt.legend()
plt.show()

In [ ]:
#2016
sum = data_16.sum()
months = ['Jul','Aug','Sep','Oct','Nov','Dec']
color = ['r','g','b','m','y', 'b']
plt.pie(sum, labels = months, colors = color, shadow = True, startangle = 90)
plt.legend()
plt.show()

In [ ]:
#2017
sum = data_17.sum()
months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
color = ['r','g','b','m','y', 'b']
plt.pie(sum, labels = months, colors = color, shadow = True, startangle = 90)
plt.legend()
plt.show()

In [ ]:
#2018
sum = data_18.sum()
months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
color = ['r','g','b','m','y', 'b']
plt.pie(sum, labels = months, colors = color, shadow = True, startangle = 90)
plt.legend()
plt.show()

In [ ]:
#2019
sum = data_19.sum()
months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
color = ['r','g','b','m','y', 'b']
plt.pie(sum, labels = months, colors = color, shadow = True, startangle = 90)
plt.legend()
plt.show()

In [ ]:
#2020
sum = data_20.sum()
months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
color = ['r','g','b','m','y', 'b']
plt.pie(sum, labels = months, colors = color, shadow = True, startangle = 90)
plt.legend()
plt.show()

In [ ]:
#2021
sum = data_21.sum()
months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep']
color = ['r','g','b','m','y', 'b']
plt.pie(sum, labels = months, colors = color, shadow = True, startangle = 90)
plt.legend()
plt.show()

## add more comments here

# need a title

In [ ]:
labels = ['2016', '2017','2018','2019','2020','2021']
plt.figure(figsize=(15,7))
plt.bar("2016", total16, align = 'center', label = '2016') 
plt.bar( "2017", total17,  align = 'center', label = '2017') 
plt.bar("2018", total18, color = 'red' ,align = 'center', label = '2018') 
plt.bar( "2019", total19,  align = 'center', label = '2019') 
plt.bar( "2020", total20, align = 'center', label = '2020') 
plt.bar( "2021", total21,  align = 'center', label = '2021') 
plt.title('Comparision for Total People Travelled over years') 
plt.ylabel('Total People Travelled(m)') 
plt.xlabel('Year') 
plt.legend()
plt.show()

### Observation

Here different colours are used to mark every year indiviually. It can be seen that people travelled a lot in 2019 and the least in the year 2021. The numbers increase by .2 from 2017 to 2018 consecutivly less in 2016 and 2021 cause there were limited amount of data for the respectable years in the data set. However it can be assumed that the number decreased from 2020 due to global pandemic.

# need to add comments

In [ ]:
new = pd.DataFrame({
    'month': ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
    '2016':[0,0,0,0,0,0,data_16['Jul-16'].sum(),data_16['Aug-16'].sum(),data_16['Sep-16'].sum(),data_16['Oct-16'].sum(),data_16['Nov-16'].sum(),data_16['Dec-16'].sum()],
    '2017':[data_17['Jan-17'].sum(),data_17['Feb-17'].sum(),data_17['Mar-17'].sum(),data_17['Apr-17'].sum(),data_17['May-17'].sum(),data_17['Jun-17'].sum(),data_17['Jul-17'].sum(),data_17['Aug-17'].sum(),data_17['Sep-17'].sum(),data_17['Oct-17'].sum(),data_17['Nov-17'].sum(),data_17['Dec-17'].sum()],
    '2018':[data_18['Jan-18'].sum(),data_18['Feb-18'].sum(),data_18['Mar-18'].sum(),data_18['Apr-18'].sum(),data_18['May-18'].sum(),data_18['Jun-18'].sum(),data_18['Jul-18'].sum(),data_18['Aug-18'].sum(),data_18['Sep-18'].sum(),data_18['Oct-18'].sum(),data_18['Nov-18'].sum(),data_18['Dec-18'].sum()],
    '2019':[data_19['Jan-19'].sum(),data_19['Feb-19'].sum(),data_19['Mar-19'].sum(),data_19['Apr-19'].sum(),data_19['May-19'].sum(),data_19['Jun-19'].sum(),data_19['Jul-19'].sum(),data_19['Aug-19'].sum(),data_19['Sep-19'].sum(),data_19['Oct-19'].sum(),data_19['Nov-19'].sum(),data_19['Dec-19'].sum()],
    '2020':[data_20['Jan-20'].sum(),data_20['Feb-20'].sum(),data_20['Mar-20'].sum(),data_20['Apr-20'].sum(),data_20['May-20'].sum(),data_20['Jun-20'].sum(),data_20['Jul-20'].sum(),data_20['Aug-20'].sum(),data_20['Sep-20'].sum(),data_20['Oct-20'].sum(),data_20['Nov-20'].sum(),data_20['Dec-20'].sum()],
    '2021':[data_21['Jan-21'].sum(),data_21['Feb-21'].sum(),data_21['Mar-21'].sum(),data_21['Apr-21'].sum(),data_21['May-21'].sum(),data_21['Jun-21'].sum(),data_21['Jul-21'].sum(),data_21['Aug-21'].sum(),data_21['Sep-21'].sum(),0,0,0]
})

In [ ]:
new.plot()

<b>Observation:</b> In the above plot it can be seen that the numbers were closely same for the years 2017 to 2019 which formed a chevroned pattern. t can be observed in 2016, here that the number of travellers increased rapidly from July and maintained the same graph for the rest of the year . Travels decreased from february to may in the year 2020 but started to incline slowly for the rest of the year. In 2021 the numbers were in the mid range until the middle of the year and started to decline for the rest of the year.

In [ ]:
df2 = pd.DataFrame(new, columns=["month", '2016','2017','2018','2019','2020','2021'])
df2.plot.bar(figsize=(15,7));
plt.xlabel('Month')
plt.ylabel('Number of People Travavelled(M)')

In [ ]:
df2.plot.barh(stacked=True);

In [ ]:
color = {
    "boxes": "DarkGreen",
    "whiskers": "DarkOrange",
    "medians": "DarkBlue",
    "caps": "Gray",
}
df2.plot.box(color=color, sym="r+",figsize=(15,7))
plt.xlabel('Year')
plt.ylabel('Number of People Travavelled(M)')

# Ryan's Work

In [ ]:
## new column to merge all trainline 

data['TrainLine'] = data['Route'].str[0:2] ## targets the first two string from order date 
data['TrainLine'] = data['TrainLine'].astype('object')
data.head(25)

data['TrainLine']

## Reseting index

In [ ]:
## reset index
data = data.dropna()
data = data.reset_index(drop=True)

In [ ]:
data.head(1)

In [ ]:
df2016 = data[['TrainLine','Travel_type','Jul-16','Aug-16','Sep-16','Oct-16','Nov-16','Dec-16']]
df2017 = data[['TrainLine','Travel_type','Jan-17','Feb-17','Mar-17','Apr-17','May-17','Jun-17','Jul-17','Aug-17','Sep-17','Oct-17','Nov-17','Dec-17']]
df2018 = data[['TrainLine','Travel_type','Jan-18','Feb-18','Mar-18','Apr-18','May-18','Jun-18','Jul-18','Aug-18','Sep-18','Oct-18','Nov-18','Dec-18']]
df2019 = data[['TrainLine','Travel_type','Jan-19','Feb-19','Mar-19','Apr-19','May-19','Jun-19','Jul-19','Aug-19','Sep-19','Oct-19','Nov-19','Dec-19']]
df2020 = data[['TrainLine','Travel_type','Jan-20','Feb-20','Mar-20','Apr-20','May-20','Jun-20','Jul-20','Aug-20','Sep-20','Oct-20','Nov-20','Dec-20']]
df2021 = data[['TrainLine','Travel_type','Jan-21','Feb-21','Mar-21','Apr-21','May-21','Jun-21','Jul-21','Aug-21','Sep-21']]

In [ ]:
## filtering adult coloumn 
adult16 = df2016[df2016.Travel_type == 'Adult']
adult17 = df2017[df2017.Travel_type == 'Adult']
adult18 = df2018[df2018.Travel_type == 'Adult']
adult19 = df2019[df2019.Travel_type == 'Adult']
adult20 = df2020[df2020.Travel_type == 'Adult']
adult21 = df2021[df2021.Travel_type == 'Adult']

Concession16 = df2016[df2016.Travel_type == 'Concession']
Concession17 = df2017[df2017.Travel_type == 'Concession']
Concession18 = df2018[df2018.Travel_type == 'Concession']
Concession19 = df2019[df2019.Travel_type == 'Concession']
Concession20 = df2020[df2020.Travel_type == 'Concession']
Concession21 = df2021[df2021.Travel_type == 'Concession']

In [ ]:
## group by the trainline and travel type 
adult16 = adult16.groupby(['Travel_type','TrainLine'])
adult17 = adult17.groupby(['Travel_type','TrainLine'])
adult18 = adult18.groupby(['Travel_type','TrainLine'])
adult19 = adult19.groupby(['Travel_type','TrainLine'])
adult20 = adult20.groupby(['Travel_type','TrainLine'])
adult21 = adult21.groupby(['Travel_type','TrainLine'])

Concession16 = Concession16.groupby(['Travel_type','TrainLine'])
Concession17 = Concession17.groupby(['Travel_type','TrainLine'])
Concession18 = Concession18.groupby(['Travel_type','TrainLine'])
Concession19 = Concession19.groupby(['Travel_type','TrainLine'])
Concession20 = Concession20.groupby(['Travel_type','TrainLine'])
Concession21 = Concession21.groupby(['Travel_type','TrainLine'])

In [ ]:
## multiple row Referring to the same trainline

## Final sum of the tables yearly

In [ ]:
sumadult16 = adult16.sum()
sumadult17 = adult17.sum()
sumadult18 = adult18.sum()
sumadult19 = adult19.sum()
sumadult20 = adult20.sum()
sumadult21 = adult21.sum()

sumConcession16 = Concession16.sum()
sumConcession17 = Concession17.sum()
sumConcession18 = Concession18.sum()
sumConcession19 = Concession19.sum()
sumConcession20 = Concession20.sum()
sumConcession21 = Concession21.sum()

## final table that has the total adult table with yearly total

In [ ]:
sumadult21

In [ ]:
sumConcession21

In [ ]:
# df2016 = df2016.groupby(['TrainLine','Travel_type'])
# df2017 = df2017.groupby(['TrainLine','Travel_type'])
# df2018 = df2018.groupby(['TrainLine','Travel_type'])
# df2019 = df2019.groupby(['TrainLine','Travel_type'])
# df2020 = df2020.groupby(['TrainLine','Travel_type'])
# df2021 = df2021.groupby(['TrainLine','Travel_type'])

In [ ]:
plot = sumConcession20.plot(kind='bar',figsize=(15,8), title="Total Attendance of Concession Opal Travel 2020")

plot.set_xlabel("TrainLines from Concession Opal Attendance")
plot.set_ylabel("Number of Travels (100k)")
plot.legend()

In [ ]:
plot = sumadult20.plot(kind='bar',figsize=(15,8), title="Total Attendance of Adult Opal Travel 2020")

plot.set_xlabel("TrainLines from Adult Opal Attendance")
plot.set_ylabel("Number of Travels in 100k")
plot.legend()

In [ ]:
plot = sumConcession21.plot(kind='bar',figsize=(15,8), title="Total Attendance of Concession Opal Travel 2021",)
plot.set_xlabel("TrainLines from Concession Opal Attendance")
plot.set_ylabel("Number of Travels (100k)")

In [ ]:
plot = sumadult21.plot(kind='bar',figsize=(15,8), title="Total Attendance of Adult Opal Travel 2021")

plot.set_xlabel("TrainLines from Adult Opal Attendance")
plot.set_ylabel("Number of Travels in 100k")
plot.legend()

In [ ]:
sum2016 = adult16.sum()
sum2017 = adult17.sum()
sum2018 = adult18.sum()
sum2019 = adult19.sum()
sum2020 = adult20.sum()
sum2021 = adult21.sum()

In [ ]:
sum2016

In [ ]:
## create separate dataframes
## add total column 
sumadult16['TotalCountbyTrainLine'] = sumadult16['Jul-16'] + sumadult16['Aug-16'] + sumadult16['Sep-16'] + sumadult16['Oct-16'] + sumadult16['Nov-16'] + sumadult16['Dec-16'] 
sumadult17['TotalCountbyTrainLine'] = sumadult17['Jan-17'] + sumadult17['Feb-17'] + sumadult17['Mar-17'] + sumadult17['Apr-17'] + sumadult17['May-17'] + sumadult17['Jun-17'] + sumadult17['Jul-17'] + sumadult17['Aug-17'] + sumadult17['Sep-17'] + sumadult17['Oct-17'] + sumadult17['Nov-17'] + sumadult17['Dec-17'] 
sumadult18['TotalCountbyTrainLine'] = sumadult18['Jan-18'] + sumadult18['Feb-18'] + sumadult18['Mar-18'] + sumadult18['Apr-18'] + sumadult18['May-18'] + sumadult18['Jun-18'] + sumadult18['Jul-18'] + sumadult18['Aug-18'] + sumadult18['Sep-18'] + sumadult18['Oct-18'] + sumadult18['Nov-18'] + sumadult18['Dec-18'] 
sumadult19['TotalCountbyTrainLine'] = sumadult19['Jan-19'] + sumadult19['Feb-19'] + sumadult19['Mar-19'] + sumadult19['Apr-19'] + sumadult19['May-19'] + sumadult19['Jun-19'] + sumadult19['Jul-19'] + sumadult19['Aug-19'] + sumadult19['Sep-19'] + sumadult19['Oct-19'] + sumadult19['Nov-19'] + sumadult19['Dec-19'] 
sumadult20['TotalCountbyTrainLine'] = sumadult20['Jan-20'] + sumadult20['Feb-20'] + sumadult20['Mar-20'] + sumadult20['Apr-20'] + sumadult20['May-20'] + sumadult20['Jun-20'] + sumadult20['Jul-20'] + sumadult20['Aug-20'] + sumadult20['Sep-20'] + sumadult20['Oct-20'] + sumadult20['Nov-20'] + sumadult20['Dec-20'] 
sumadult21['TotalCountbyTrainLine'] = sumadult21['Jan-21'] + sumadult21['Feb-21'] + sumadult21['Mar-21'] + sumadult21['Apr-21'] + sumadult21['May-21'] + sumadult21['Jun-21'] + sumadult21['Jul-21'] + sumadult21['Aug-21'] + sumadult21['Sep-21'] 
#sumadult20['TotalCountbyTrainLine'] = sumadult20['TotalCountbyTrainLine'].astype('int32')

In [ ]:
sumadult21

## Linear Regression

In [ ]:
# Initalise train and test variable 
train, test = train_test_split(data, test_size = 0.2, random_state=142)
print(train.shape)
print(test.shape)

In [ ]:
reg = linear_model.LinearRegression()
X_train = train[['Dec-18', 'Dec-19']]
y_train = train['Dec-20']
X_test = test[['Dec-18', 'Dec-19']]
y_test = test['Dec-20']
reg.fit(X_train, y_train)
print("y = x *", reg.coef_, "+", reg.intercept_)

In [ ]:
predicted = reg.predict(X_test)
mse = ((np.array(y_test)-predicted)**2).sum()/len(y_test)
r2 = r2_score(y_test, predicted)
print("MSE:", mse) ##mean square error if it's too low means its good
print("R Squared:", r2)

In [ ]:
predicted = reg.predict(X_test)
mse = ((np.array(y_test)-predicted)**2).sum()/len(y_test)
r2 = r2_score(y_test, predicted)
print("MSE:", mse)
print("R Squared:", r2)

## Hanndo's regression model but he used other columns
## please write another observation that includes the relationship between the alternative x and y variable and delete this column

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

In [ ]:
lst = [['2016', total16],['2017', total17],['2018', total18],['2019', total19],['2020', total20],['2021', total21],]
df = pd.DataFrame(lst, columns = ['Year', 'Usage'])
df

In [ ]:
train, test = train_test_split(df, test_size = 0.2, random_state=142)
print(train.shape)
print(test.shape)

In [ ]:
x_train = train[['Year']]
y_train = train['Usage']

x_test = test[['Year']]
y_test = test['Usage']

print(x_train.shape)
print(y_train.shape)

print(x_test.shape)
print(y_test.shape)

In [ ]:
lr = linear_model.LinearRegression()
lr.fit(x_train, y_train)

In [ ]:
y_pred = lr.predict(x_test)

In [ ]:
y_pred

In [ ]:
mse_lr = mean_squared_error(y_test, y_pred)

In [ ]:
mse_lr

In [ ]:
plt.scatter(x,y, color='blue')
plt.plot([0,2025],[b,m*100+b],'r')
plt.title('Ticket use over time', fontsize = 20)
plt.xlabel('Year', fontsize = 15)
plt.ylabel('Usage', fontsize = 15)
plt.show()

In [ ]:
pred_y_df=pd.DataFrame({'Actual Value': y_test, 'Predicted Value': y_pred, 'Difference': y_test - y_pred})
pred_y_df[0:20]

In [ ]:
###I think 3 is done? Regression is hella sus above^ will need 2 fix later

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import r2_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.feature_selection import RFE
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
import warnings
warnings.filterwarnings("ignore")

In [ ]:
data_l =data_l =data_c

In [ ]:
set(data_l['Aug-21'])

In [ ]:
# changeing strings to intiger value 
def get_categorical_col(df):
    s = (data_l.dtypes == 'object')
    cols = list(s[s].index)
    return cols
print("categorical columns in data:",get_categorical_col(data_l))

In [ ]:
# calling the function GET 
def enc(data_l):
    lab_enc=LabelEncoder()
    #onehot_enc=OneHotEncoder(drop='first', sparse=False)
    data_l['Route'] = lab_enc.fit_transform(data_l['Route'])
    data_l['Travel_type'] = lab_enc.fit_transform(data_l['Travel_type'])

enc(data_l)

In [ ]:
data_l

In [ ]:
# Split your data into training(80%) and testing data (20%) and use random_state=42
train, test = train_test_split(data_l, test_size=0.2, random_state=42)
print(train.shape)
print(test.shape)

In [ ]:
# Logistic Regression model
# Getting input data and targets for building prediction model
X_train =train.drop(['Aug-21'],axis=1)
y_train = train['Aug-21']
X_test =test.drop(['Aug-21'],axis=1)
y_test=test['Aug-21']

print(X_train.shape,"train x")
print(y_train.shape,"train y")
print(X_test.shape, "test x")
print(y_test.shape, "test y")
X_train.head()

In [ ]:
y_train.sum()

In [ ]:
# Training Logistic Regression model
model = LogisticRegression()
model.fit(X_train,y_train)

In [ ]:
# Do predictions on test set
# Doing predictions on train and test set
y_test_pred=model.predict(X_test)
y_train_pred = model.predict(X_train)

In [ ]:
# Evaluate the performance of your trained model
print("Accuracy score on training set: ", accuracy_score(y_train, y_train_pred))
print("Accuracy score on testing set: ", accuracy_score(y_test, y_test_pred))

In [ ]:
# Checking confusion matrix
print("Confusion matrix on test set: ")
print(confusion_matrix(y_test, y_test_pred))

In [ ]:
# future modification / relationship
corrmat = X_train.corr()
top_corr_features = corrmat.index
plt.figure(figsize=(20,10))
g=sns.heatmap(X_train[top_corr_features].corr(), annot=True, cmap="RdYlGn")

In [ ]:
# creating RFE object
lr_model=LogisticRegression()
rfe= RFE(estimator=lr_model, n_features_to_select=5, step=1)
rfe.fit(X_train, y_train)

In [ ]:
# doing evaluation
y_test_hat = rfe.predict(X_test)
print("accuracy score on test set: ", accuracy_score(y_test, y_test_hat))

In [ ]:
# summarize all features
for i in range(X_train.shape[1]):
    print('Column: %d, Selected %s, Rank: %.3f' % (i, rfe.support_[i], rfe.ranking_[i]))

In [ ]:
# to increment number of features, one at each time
acc_scores = []
for i in range(1,64):
    clf = LogisticRegression()
    rfe = RFE(estimator=clf, n_features_to_select=i)
    # training model
    rfe.fit(X_train, y_train)
    # predicting on test set
    y_pred = rfe.predict(X_test)
    acc_score = accuracy_score(y_test, y_pred)
    # print this
    print("Acc on test set using", i, "features: ", acc_score)
    # append to the list
    acc_scores.append(acc_score)

In [ ]:
# Estimating accuracy score on test set using RFE by using different number of features
estimator = LogisticRegression()
acc_scores = []
for i in range(1, 64):
    selector = RFE(estimator, i)
    selector = selector.fit(X_train, y_train)
    supp = selector.get_support()

    predicted = selector.predict(X_test)
    acc_score = accuracy_score(y_test, predicted)
    acc_scores.append(acc_score)
  
best = 1
for item in acc_scores:
    if item < acc_scores[best - 1]:
        best = acc_scores.index(item) + 1

plt.grid()   
plt.xlabel('# No. of features')
plt.ylabel('Accuracy score on test set')
plt.plot(range(1, 64), acc_scores, marker = 'o', color = 'lightblue', markeredgewidth = 1 ,markeredgecolor = 'lightblue', markerfacecolor = 'None')
plt.plot(best, acc_scores[best-1], marker = 'o', markerfacecolor = 'lightblue')

## Observations
-  There are no apparent curves in the plots which means the model is linear in the parameters and its residuals.
-  The process of obtaining one observation does not affect the process of obtaining the next observations (independence).
-  Why the r square is close to 1, the model is bias and we cannot rely on a regression to predict future outcome by past records


### Multinomial naive bayes will be implemented below in order to see if it can predict past records.

# check

In [111]:
#---creating a new dataframe with the relevant datasets
dftest = data[['Dec-18','Dec-19','Dec-20']]

#---dropping null values and resetting the index
dftest = dftest.dropna()
dftest = dftest.reset_index(drop=True)

# Performing a multinomial naive bayes analysis on the data

we wil  create a naive bayes analysis function to allow us to perform the analysis in a modular manner below

In [112]:
#---performing a multinomial naive bayes analysis on the data
clf = MultinomialNB()
data = dftest[['Dec-18','Dec-19']]
target = dftest[['Dec-20']]
X_train, X_test, y_train, y_test = train_test_split(data, target, train_size = 0.70, random_state=0)

y_train=y_train.values
clf.fit (X_train, y_train)

y_test=y_test.values
y_pred = clf.predict(X_test)

print("Multinomial:", np.mean(y_pred==y_test))

Multinomial: 0.058133333333333335

/Users/ryanlam/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

The results from the naive bayes analysis -- similar to the linear regression -- are poor in the context of the data, though there is some level of prediction to be made. What this means is that past records from previous year can change due to external circumstances. for example, due to the covid pandemic, the sum of train attendance has staggared in comparison to previous years

In [113]:
# Explore the learned model parameters (probabilities)
# Note that the probabilities are in the logorithmic form. Why? The log-sum-exp trick for underflow of probability products
print('Estimated probability of classess: \n', np.e**clf.class_log_prior_)
print('Estimated class-conditional probabilities for each feature: \n', np.e**clf.feature_log_prob_)

Estimated probability of classess:
 [0.30057803 0.01734104 0.00578035 0.00578035 0.00578035 0.00578035
 0.00578035 0.01156069 0.00578035 0.00578035 0.00578035 0.00578035
 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035
 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035
 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035
 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035
 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035
 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035
 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035
 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035
 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035
 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035
 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035
 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035
 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035
 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035
 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035
 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035
 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035
 0.00578035 0.00578035 0.00578035 0.00578035 0.00578035]
Estimated class-conditional probabilities for each feature:
 [[9.84807215e-01 1.51927847e-02]
 [6.66666667e-02 9.33333333e-01]
 [1.06060606e-01 8.93939394e-01]
 [1.42857143e-01 8.57142857e-01]
 [5.00000000e-01 5.00000000e-01]
 [4.81481481e-01 5.18518519e-01]
 [2.69230769e-01 7.30769231e-01]
 [4.06779661e-01 5.93220339e-01]
 [5.00000000e-01 5.00000000e-01]
 [5.25641026e-01 4.74358974e-01]
 [3.50000000e-01 6.50000000e-01]
 [2.27544910e-01 7.72455090e-01]
 [5.42750929e-01 4.57249071e-01]
 [2.28070175e-01 7.71929825e-01]
 [6.17554859e-01 3.82445141e-01]
 [3.80281690e-01 6.19718310e-01]
 [6.26690182e-01 3.73309818e-01]
 [3.05785124e-01 6.94214876e-01]
 [6.43948296e-01 3.56051704e-01]
 [6.29156010e-01 3.70843990e-01]
 [4.94117647e-01 5.05882353e-01]
 [6.50326797e-01 3.49673203e-01]
 [5.45189504e-01 4.54810496e-01]
 [5.72084481e-01 4.27915519e-01]
 [5.00000000e-01 5.00000000e-01]
 [6.57917261e-01 3.42082739e-01]
 [5.00000000e-01 5.00000000e-01]
 [4.79425212e-01 5.20574788e-01]
 [8.73362445e-04 9.99126638e-01]
 [4.71754583e-01 5.28245417e-01]
 [4.75901175e-01 5.24098825e-01]
 [4.86792453e-01 5.13207547e-01]
 [5.56614045e-01 4.43385955e-01]
 [5.97728631e-04 9.99402271e-01]
 [5.92340951e-01 4.07659049e-01]
 [6.31100674e-01 3.68899326e-01]
 [5.47561813e-01 4.52438187e-01]
 [2.06868018e-04 9.99793132e-01]
 [4.94851099e-01 5.05148901e-01]
 [4.59440880e-01 5.40559120e-01]
 [5.71690895e-01 4.28309105e-01]
 [4.55025338e-01 5.44974662e-01]
 [5.36038693e-01 4.63961307e-01]
 [6.25688870e-01 3.74311130e-01]
 [5.00000000e-01 5.00000000e-01]
 [4.60874408e-01 5.39125592e-01]
 [4.92084433e-01 5.07915567e-01]
 [5.21082699e-01 4.78917301e-01]
 [4.98515341e-01 5.01484659e-01]
 [6.70615183e-01 3.29384817e-01]
 [5.30068027e-01 4.69931973e-01]
 [6.12138753e-01 3.87861247e-01]
 [5.51473237e-01 4.48526763e-01]
 [5.74000068e-01 4.25999932e-01]
 [4.90262403e-01 5.09737597e-01]
 [4.74646983e-01 5.25353017e-01]
 [5.16808847e-01 4.83191153e-01]
 [5.23267974e-01 4.76732026e-01]
 [5.72658160e-01 4.27341840e-01]
 [5.95658039e-01 4.04341961e-01]
 [1.31725676e-01 8.68274324e-01]
 [4.96766550e-01 5.03233450e-01]
 [4.94896200e-01 5.05103800e-01]
 [5.21265582e-01 4.78734418e-01]
 [4.74581243e-01 5.25418757e-01]
 [5.11870590e-01 4.88129410e-01]
 [5.50762337e-01 4.49237663e-01]
 [5.63918757e-01 4.36081243e-01]
 [4.76379526e-01 5.23620474e-01]
 [5.26690790e-01 4.73309210e-01]
 [4.94228344e-01 5.05771656e-01]
 [5.46547862e-01 4.53452138e-01]
 [5.38513093e-01 4.61486907e-01]
 [5.13417887e-01 4.86582113e-01]
 [4.80020704e-01 5.19979296e-01]
 [5.49090808e-01 4.50909192e-01]
 [4.96918439e-01 5.03081561e-01]
 [5.00374867e-01 4.99625133e-01]
 [2.44265859e-05 9.99975573e-01]
 [5.23523488e-01 4.76476512e-01]
 [5.13259795e-01 4.86740205e-01]
 [4.78748486e-01 5.21251514e-01]
 [4.77023756e-01 5.22976244e-01]
 [4.49654821e-01 5.50345179e-01]
 [5.45383423e-01 4.54616577e-01]
 [5.07842891e-01 4.92157109e-01]
 [5.03349558e-01 4.96650442e-01]
 [1.17582043e-05 9.99988242e-01]
 [1.03806007e-01 8.96193993e-01]
 [5.39651111e-01 4.60348889e-01]
 [5.23229592e-01 4.76770408e-01]
 [1.29917886e-01 8.70082114e-01]
 [1.00988679e-05 9.99989901e-01]
 [4.71756920e-01 5.28243080e-01]
 [4.65183213e-01 5.34816787e-01]
 [1.16915216e-01 8.83084784e-01]
 [4.94275750e-01 5.05724250e-01]
 [4.89594561e-01 5.10405439e-01]
 [4.83969270e-01 5.16030730e-01]
 [4.94825859e-01 5.05174141e-01]
 [5.07136357e-01 4.92863643e-01]
 [5.44105165e-06 9.99994559e-01]
 [5.06467017e-01 4.93532983e-01]
 [1.05045546e-01 8.94954454e-01]
 [5.02129041e-01 4.97870959e-01]
 [4.80631714e-01 5.19368286e-01]
 [5.14210675e-01 4.85789325e-01]
 [4.78428262e-01 5.21571738e-01]
 [5.68339072e-01 4.31660928e-01]
 [1.38430367e-01 8.61569633e-01]
 [1.20874368e-01 8.79125632e-01]
 [4.81472916e-01 5.18527084e-01]
 [5.42850607e-01 4.57149393e-01]
 [1.24274305e-01 8.75725695e-01]
 [4.94828625e-01 5.05171375e-01]
 [5.35744265e-01 4.64255735e-01]
 [5.05712932e-01 4.94287068e-01]
 [5.09451982e-01 4.90548018e-01]
 [5.27943719e-01 4.72056281e-01]]

# i dint put my prediction model here makeing some few changes